# select a revision to deploy, available values: stable, beta, canary
AFFINE_REVISION=stable
 
# set the port for the server container it will expose the server on
PORT=3010
 
# set the host for the server for outgoing links
# AFFINE_SERVER_HTTPS=true
# AFFINE_SERVER_HOST=yourdomain.com
# or 
AFFINE_SERVER_EXTERNAL_URL=https://yourdomain.com
 
# position of the database data to persist
DB_DATA_LOCATION=~/.affine/self-host/postgres/pgdata
# position of the upload data(images, files, etc.) to persist
UPLOAD_LOCATION=~/.affine/self-host/storage
# position of the configuration files to persist
CONFIG_LOCATION=~/.affine/self-host/config
 
# database credentials
DB_HOST=your-db-host
DB_USERNAME=your-username
DB_PASSWORD=your-password
DB_DATABASE=your-database

MAILER_HOST=smtp.example.com
MAILER_PORT=587
MAILER_USER=your-email@example.com
MAILER_PASSWORD=your-email-password
MAILER_SENDER=your-email@example.com